.circle{
  background-color: #242424;;
    width: 120rem;
    height: 180rem;
    border-radius: 17% 17% 0 0;
    align-self: center;
    border-top: 0px solid rgb(255, 255, 255);
    text-align: -webkit-center;
   
}
.mainPage{
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    width: 90rem;
    margin-top: 5rem;
}
.hometitle{
    font-size: 2.5rem;
    margin: 2rem;
}

.sorting{
    margin: 1rem 0;
border:1px solid rgb(103, 96, 96);
border-radius: 5rem;
    height: 3rem;
    
}
.dogsContainer{
       display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 2rem;
    
}
